<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus" />
  </configSections>

  <rebus inputQueue="rebus.web"
         errorQueue="rebus.error"
         workers="1" maxRetries="5">
    <endpoints>
      <add messages="RebusTests.Messages.MessageFromWeb, RebusTests.Messages" endpoint="rebus.publisher"/> 
    </endpoints>
  </rebus>
</configuration>