<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus" />
  </configSections>

  <rebus inputQueue="rebus.subscriber" errorQueue="rebus.error" workers="1" maxRetries="5">
    <endpoints>
      <add messages="RebusTests.Messages.TestMessage, RebusTests.Messages" endpoint="rebus.publisher"/>
      <add messages="RebusTests.Messages.Counter, RebusTests.Messages" endpoint="rebus.counter"/>
    </endpoints>
  </rebus>
</configuration>